/hot
/storage
/storage/*.key
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.htaccess
/vendor/*
/uploads/*
/profile_images/*
/infusionsoft-php-sdk/*
vendor

/nbproject/private/
.idea
.idea/*
