/public/hot
/public/storage
/storage/*.key
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/vendor/*
/uploads/*
/profile_images/*
/infusionsoft-php-sdk/*
/vendor
