/hot
/storage
/storage/*.key
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.htaccess
/uploads/*
/profile_images/*
/infusionsoft-php-sdk/*
/nbproject/private/
.idea
.idea/*
