
/******************************
COLOR CLASSES
******************************/
.blue_100{color: #A5CEFF}
.blue_200{color: #73ABFF}
.blue_300{color: #4F8AF4}
.blue_400{color: #3970D9}
.blue_500{color: #2657B3}

.green_100{color: #9CE4AF}
.green_200{color: #8CDAA4}
.green_300{color: #7ECD99}
.green_400{color: #62C08E}
.green_500{color: #4AAF85}

.yellow_100{color: #FFEBB9}
.yellow_200{color: #FFE49D}
.yellow_300{color: #FFDD85}
.yellow_400{color: #F9C573}
.yellow_500{color: #F2A561}

.red_100{color: #FFA1A6}
.red_200{color: #FF8B92}
.red_300{color: #F47A81}
.red_400{color: #E4667D}
.red_500{color: #CC537A}

.light_000{color: #FFFFFF}
.light_050{color: #F9FBFF}
.light_100{color: #F6F9FE}
.light_200{color: #EFF3FC}
.light_300{color: #E8EEF9}
.light_400{color: #E1E9F6}
.light_500{color: #DBE4F3}
.light_600{color: #D5DFEF}
.light_700{color: #C4CFE1}
.light_800{color: #B4C0D4}
.light_900{color: #A3ADC0}

.dark_100{color: #97A4BD}
.dark_200{color: #7B89A6}
.dark_300{color: #687693}
.dark_400{color: #56627F}
.dark_500{color: #445069}
.dark_600{color: #333D54}
.dark_700{color: #242B3D}
.dark_800{color: #151A25}
.dark_900{color: #07080A}


.email_100{color: #A8E0EE}
.email_200{color: #8AD4EB}
.email_300{color: #72C9EA}
.email_400{color: #56ACD8}
.email_500{color: #3C91CE}


.sms_100{color: #C4EBC0}
.sms_200{color: #ABDCB3}
.sms_300{color: #96D0A5}
.sms_400{color: #71BE9B}
.sms_500{color: #50A98F}

.chat_100{color: #A6BFFF}
.chat_200{color: #8FAEFC}
.chat_300{color: #7A9DF6}
.chat_400{color: #587AE3}
.chat_500{color: #3D5DD4}


.reviews_100{color: #C6CAFC}
.reviews_200{color: #AFB4FA}
.reviews_300{color: #9AA1F9}
.reviews_400{color: #818AE6}
.reviews_500{color: #5F67C7}


.brand_100{color: #E5C7EF}
.brand_200{color: #C8B2F0}
.brand_300{color: #B5A4F0}
.brand_400{color: #9791E8}
.brand_500{color: #7D7AD7}


.referrals_100{color: #7DD5CE}
.referrals_200{color: #66C4C4}
.referrals_300{color: #3697A4}
.referrals_400{color: #268099}
.referrals_500{color: #17698F}

.helpdesk_100{color: #90D4BA}
.helpdesk_200{color: #74C6B6}
.helpdesk_300{color: #65B6A6}
.helpdesk_400{color: #53A79B}
.helpdesk_500{color: #48978C}



/******************************
Background COLOR CLASSES
******************************/
.bkg_blue_100{background: #A5CEFF}
.bkg_blue_200{background: #73ABFF}
.bkg_blue_300{background: #4F8AF4}
.bkg_blue_400{background: #3970D9}
.bkg_blue_500{background: #2657B3}

.bkg_green_100{background: #9CE4AF}
.bkg_green_200{background: #8CDAA4}
.bkg_green_300{background: #7ECD99}
.bkg_green_400{background: #62C08E}
.bkg_green_500{background: #4AAF85}

.bkg_yellow_100{background: #FFEBB9}
.bkg_yellow_200{background: #FFE49D}
.bkg_yellow_300{background: #FFDD85}
.bkg_yellow_400{background: #F9C573}
.bkg_yellow_500{background: #F2A561}

.bkg_red_100{background: #FFA1A6}
.bkg_red_200{background: #FF8B92}
.bkg_red_300{background: #F47A81}
.bkg_red_400{background: #E4667D}
.bkg_red_500{background: #CC537A}

.bkg_light_000{background: #FFFFFF}
.bkg_light_050{background: #F9FBFF}
.bkg_light_100{background: #F6F9FE}
.bkg_light_200{background: #EFF3FC}
.bkg_light_300{background: #E8EEF9}
.bkg_light_400{background: #E1E9F6}
.bkg_light_500{background: #DBE4F3}
.bkg_light_600{background: #D5DFEF}
.bkg_light_700{background: #C4CFE1}
.bkg_light_800{background: #B4C0D4}
.bkg_light_900{background: #A3ADC0}

.bkg_dark_100{background: #97A4BD}
.bkg_dark_200{background: #7B89A6}
.bkg_dark_300{background: #687693}
.bkg_dark_400{background: #56627F}
.bkg_dark_500{background: #445069}
.bkg_dark_600{background: #333D54}
.bkg_dark_700{background: #242B3D}
.bkg_dark_800{background: #151A25}
.bkg_dark_900{background: #07080A}


.bkg_email_100{background: #A8E0EE}
.bkg_email_200{background: #8AD4EB}
.bkg_email_300{background: #72C9EA}
.bkg_email_400{background: #56ACD8}
.bkg_email_500{background: #3C91CE}


.bkg_sms_100{background: #C4EBC0}
.bkg_sms_200{background: #ABDCB3}
.bkg_sms_300{background: #96D0A5}
.bkg_sms_400{background: #71BE9B}
.bkg_sms_500{background: #50A98F}


.bkg_chat_100{background: #A6BFFF}
.bkg_chat_200{background: #8FAEFC}
.bkg_chat_300{background: #7A9DF6}
.bkg_chat_400{background: #587AE3}
.bkg_chat_500{background: #3D5DD4}


.bkg_reviews_100{background: #C6CAFC}
.bkg_reviews_200{background: #AFB4FA}
.bkg_reviews_300{background: #9AA1F9}
.bkg_reviews_400{background: #818AE6}
.bkg_reviews_500{background: #5F67C7}


.bkg_brand_100{background: #E5C7EF}
.bkg_brand_200{background: #C8B2F0}
.bkg_brand_300{background: #B5A4F0}
.bkg_brand_400{background: #9791E8}
.bkg_brand_500{background: #7D7AD7}


.bkg_referrals_100{background: #7DD5CE}
.bkg_referrals_200{background: #66C4C4}
.bkg_referrals_300{background: #3697A4}
.bkg_referrals_400{background: #268099}
.bkg_referrals_500{background: #17698F}

.bkg_helpdesk_100{background: #90D4BA}
.bkg_helpdesk_200{background: #74C6B6}
.bkg_helpdesk_300{background: #65B6A6}
.bkg_helpdesk_400{background: #53A79B}
.bkg_helpdesk_500{background: #48978C}






/*******************************
FONT SIZE CLASSES
**********/
.fsize7{ font-size:7px!important;}
.fsize8{ font-size:8px!important;}
.fsize9{font-size: 9px!important;}
.fsize10{font-size: 10px!important;}
.fsize11{font-size: 11px!important;}
.fsize12{font-size: 12px!important;}
.fsize13{font-size: 13px!important;}
.fsize14{font-size: 13px!important;}
.fsize15{font-size: 15px!important;}
.fsize16{font-size: 16px!important;}
.fsize17{font-size: 17px!important;}
.fsize18{font-size: 18px!important;}
.fsize19{font-size: 19px!important;}
.fsize20{font-size: 20px!important;}
.fsize24{font-size: 24px!important;}
.fsize28{font-size: 28px!important;}

/*******************************
FONT WEIGHT CLASSES
**********/
.fw300{font-weight: 300!important;}
.fw400{font-weight: 400!important;}
.fw500{font-weight: 500!important;}
.fw600{font-weight: 600!important;}
.fw700{font-weight: 700!important;}


/*******************************
PADDING CLASSES
**********/
.p0{padding: 0px!important}
.p10{padding: 10px!important}
.p15{padding: 15px!important}
.p20{padding: 20px!important}
.p25{padding: 25px!important}
.p30{padding: 30px!important}
.p40{padding: 40px!important}
.p50{padding: 50px!important}
.p60{padding: 60px!important}

.pt-1{padding-top: 1px!important;}
.pt0{padding-top: 0px!important;}
.pt10{padding-top: 10px!important;}
.pt15{padding-top: 15px!important;}
.pt20{padding-top: 20px!important;}
.pt25{padding-top: 25px!important;}
.pt30{padding-top: 30px!important;}
.pt40{padding-top: 40px!important;}
.pt50{padding-top: 50px!important;}
.pt60{padding-top: 60px!important;}

.pb0{padding-bottom: 0px!important;}
.pb10{padding-bottom: 10px!important;}
.pb15{padding-bottom: 15px!important;}
.pb20{padding-bottom: 20px!important;}
.pb25{padding-bottom: 25px!important;}
.pb30{padding-bottom: 30px!important;}
.pb40{padding-bottom: 40px!important;}
.pb50{padding-bottom: 50px!important;}
.pb60{padding-bottom: 60px!important;}

.pb-15 {padding-bottom: 15px !important;}
.pt-15 {padding-top: 15px !important;}

.pl0{padding-left: 0px!important;}
.pl3{padding-left: 3px!important;}
.pl10{padding-left: 10px!important;}
.pl20{padding-left: 20px!important;}
.pl25{padding-left: 25px!important;}
.pl30{padding-left: 30px!important;}
.pl40{padding-left: 40px!important;}
.pl50{padding-left: 50px!important;}
.pl60{padding-left: 60px!important;}

.pr0{padding-right: 0px!important;}
.pr10{padding-right: 10px!important;}
.pr15{padding-right: 15px!important;}
.pr20{padding-right: 20px!important;}
.pr25{padding-right: 25px!important;}
.pr30{padding-right: 30px!important;}
.pr40{padding-right: 40px!important;}
.pr50{padding-right: 50px!important;}
.pr60{padding-right: 60px!important;}


.pt-3{padding-top: 3px!important;}
.pl6{ padding-left:6px!important;}
.pr6{ padding-right:6px!important;}



/*******************************
MARGIN CLASSES
**********/
.m0{margin: 0px!important}
.m10{margin: 10px!important}
.m20{margin: 20px!important}
.m30{margin: 30px!important}
.m40{margin: 40px!important}

.mt0{margin-top: 0px!important;}
.mt10{margin-top: 10px!important;}
.mt20{margin-top: 20px!important;}
.mt30{margin-top: 30px!important;}
.mt40{margin-top: 40px!important;}

.mb0{margin-bottom: 0px!important;}
.mb10{margin-bottom: 10px!important;}
.mb20{margin-bottom: 20px!important;}
.mb30{margin-bottom: 30px!important;}
.mb40{margin-bottom: 40px!important;}
.mb50{margin-bottom: 50px!important;}

.ml0{margin-left: 0px!important;}
.ml10{margin-left: 10px!important;}
.ml20{margin-left: 20px!important;}
.ml30{margin-left: 30px!important;}
.ml40{margin-left: 40px!important;}
.ml50{margin-left: 50px!important;}

.mr0{margin-right: 0px!important;}
.mr10{margin-right: 10px!important;}
.mr20{margin-right: 20px!important;}
.mr30{margin-right: 30px!important;}
.mr40{margin-right: 40px!important;}
.mr50{margin-right: 50px!important;}



/*******************************
Body txt  10px to 18px
**********/
.htxt_bold_10{font-size: 10px; font-weight: 600; line-height: 120%;}
.htxt_bold_12{font-size: 12px; font-weight: 600; line-height: 120%;}
.htxt_bold_14{font-size: 14px; font-weight: 600; line-height: 120%;}
.htxt_bold_16{font-size: 16px; font-weight: 600; line-height: 120%;}
.htxt_bold_18{font-size: 18px; font-weight: 600; line-height: 120%;}

.htxt_medium_10{font-size: 10px; font-weight: 500; line-height: 120%;}
.htxt_medium_12{font-size: 12px; font-weight: 500; line-height: 120%;}
.htxt_medium_14{font-size: 14px; font-weight: 500; line-height: 120%;}
.htxt_medium_16{font-size: 16px; font-weight: 500; line-height: 120%;}
.htxt_medium_18{font-size: 18px; font-weight: 500; line-height: 120%;}

.htxt_regular_10{font-size: 10px; font-weight: 400; line-height: 120%;}
.htxt_regular_12{font-size: 12px; font-weight: 400; line-height: 120%;}
.htxt_regular_14{font-size: 14px; font-weight: 400; line-height: 120%;}
.htxt_regular_16{font-size: 16px; font-weight: 400; line-height: 120%;}
.htxt_regular_18{font-size: 18px; font-weight: 400; line-height: 120%;}




/*******************************
Headings  20px to 36px
**********/
.htxt_bold_20{font-size: 20px; font-weight: 600; line-height: 120%;}
.htxt_bold_24{font-size: 24px; font-weight: 600; line-height: 120%;}
.htxt_bold_28{font-size: 28px; font-weight: 600; line-height: 120%;}
.htxt_bold_32{font-size: 32px; font-weight: 600; line-height: 120%;}
.htxt_bold_36{font-size: 36px; font-weight: 600; line-height: 120%;}

.htxt_medium_20{font-size: 20px; font-weight: 500; line-height: 120%;}
.htxt_medium_24{font-size: 24px; font-weight: 500; line-height: 120%;}
.htxt_medium_28{font-size: 28px; font-weight: 500; line-height: 120%;}
.htxt_medium_32{font-size: 32px; font-weight: 500; line-height: 120%;}
.htxt_medium_36{font-size: 36px; font-weight: 500; line-height: 120%;}

.htxt_regular_20{font-size: 20px; font-weight: 400; line-height: 120%;}
.htxt_regular_24{font-size: 24px; font-weight: 400; line-height: 120%;}
.htxt_regular_28{font-size: 28px; font-weight: 400; line-height: 120%;}
.htxt_regular_32{font-size: 32px; font-weight: 400; line-height: 120%;}
.htxt_regular_36{font-size: 36px; font-weight: 400; line-height: 120%;}





